<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

<div id="top">
    <header id="NAGLOWEK"></header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index">Strona Główma</a></li>
                    <li><a href="../cat/all">Kategorie</a></li>
                    <li><a href="../bills/all">Rachunki</a></li>
                    <li><a href="../sho/all">Sklepy</a></li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <aside id="INFORMACJE"><h2>Czy na pewno chcesz usunąć poniższą kategorię ??</h2></aside>
    <article id="TRESC">

        <table th:object="${category}">
            <tr>
                <td>Nazwa: </td>
                <td th:text="*{name}"/>
            </tr>

            <tr>
            <td colspan="2">
                <a th:href="@{/cat/delete/{categoryId}/deleted (categoryId=${category.id})}" class="btn btn-primary btn-lg active"
                   role="button" aria-pressed="true">usuń</a>
            </td>
                
                <td colspan="2">
                    <a href="../all" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Cofnij</a>
                </td>
            </tr>
            </form>
            </td>
        </table>

    </article>

    <footer id="STOPKA">Stopka serwisu</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>